/* css reset code */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/* code starting */

/* * {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;


    margin: 0;
 }

 img {
    width: 100%;
    height: auto;
 }

 .wrapper {
    margin: 0 auto;
    max-width: 480px;
    width: 95%;
 } */

body{
    background-color: white;
    /* using open sans google fonts */
    font-family: 'Open Sans', sans-serif;
    width: 480px;
    font-weight: normal;
    justify-content: center;
    margin: 0 auto;
    
}


.navbar{
    background-color:  #222;
    text-align: center;
    line-height: 50px;     
    display: block;
    color: #c78c06;
}

img#logo{
    margin-top: 10px;
    margin-right: 500px;
    padding: 2%;
    
}

.image{
    position: relative;
    background-color: #c78c06;
}

/* changing the attributes of first link to match the webpage prototype */
#one{
    position: absolute;
    max-width: 480px;
    width: 100%;
    top: 11%;
    left: 10%;
    /* text-align: top; */
}

.links a{
    list-style-type: none;
    text-decoration: none;
    color: #c78c06;
}
#one{
    color: #222;
}

/* using position: relative / absolute to make the text float on top of the image */
.welcome{
    position: relative;
    background-color: #ffe6ac;
    /* text-align: center; */
    /* max-width: 480px; */
    /* margin: auto; */
    /* padding-bottom: 30px; */
}
.welcome img{
    width:480px;
}
.welcome .wrapper {
    position: absolute;
    color: white;
    top: 6%;
    font-size: 20px;
    padding: 2%;
    /* text-align: left; */
    background-color: #222;
    background-color: rgba(0,0,0,.5); 
    padding-bottom: 20px;
    margin-top: 30px;
}

.welcome h1{
    font-size: 50px;
    font-weight: bold;
    margin-left: 10px;
}

.welcome p{
    font-size: 14px;
    padding-top: 4%;
    margin-bottom: 30px;
    margin-left: 10px;
}

/* making the button look like the one in the prototype */
.buttonone{
    margin-left: 10px;
    padding: 20px 20px;
    color: #222;
    font-size: 16px;
    background-color: #c78c06;
    text-decoration: none; 
}

#about-us {
    background-color:  #ffe6ac;
    padding-bottom: 4%;
    
}
/* .about-us {
    background-color:  #ffe6ac;
} */
#aboutimg{
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    width: 450px;
}
.about-us h2{
    margin-left: 1rem;
    font-weight: bold;
    font-size: 30px;
    margin-top: 1rem;
}

.about-us p{
    margin-left: 16px;
    margin-top: 16px;
    font-size: x-small;
}

/* using grid on the services section to easily align the sections */
#services .wrapper {
    display: grid;
    grid-gap: 10px;
}
.digital-transformation{
    background-color:  #ffe6ac;
    padding-bottom: 10%;
}

/* .digital-transformation .button{
    margin: 20%
} */
#services img{
    width: 480px;

}
#services h2{
    font-weight: bold;
    margin-top: 1rem;
    /* margin-left: 1rem; */
    padding-bottom: 2%;
    font-size: 30px;
}
#services h3{
    font-weight: bold;
    padding-left: 9px;
    font-size: 25px;
}
#services p{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 10px;
}

.marketing{
    background-color:  #ffe6ac;
    padding-bottom: 10%;
}
.marketing img{
    width: 480px;

}
.video-production{
    background-color:  #ffe6ac;
    padding-bottom: 10%;
}
.video-marketing img{
    width: 480px;

}
.web-development{
    background-color:  #ffe6ac;
    padding-bottom: 10%;
}
.web-development img{
    width: 480px;

}
.print{
    background-color:  #ffe6ac;
    padding-bottom: 10%;
}
.print img{
    width: 480px;

}
.button {
    text-decoration: none;
    background-color: #222;
    color: white;
    padding: 20px;
    /* font-size: 1.8rem; */
    display: flex;
    align-items: center;
    margin: 20px;
    max-width: 20%;  
}


#visionimg{
    width: 550px;
    height: 200px;
}
.vision{
    margin-top: 1rem;
    transform: translate(-5%,0);
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
    
}
.vision h3{
    position: absolute;
    top: 40px;
    left: 10px;
}
.vision p{
    position: absolute;
    top: 70px;
    left: 10px;
    text-align: left;
}
.vbutton{
    margin-top: 20%;
    
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.vbutton {
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 16px 14px;
    color: white;
    font-size: 16px;
    background-color: #222;
    border: none;
    transform: translate(-5%, 0);
    border: 2px solid #c78c06 ;
    text-decoration: none;
}

#team img{
    width: 480px;
}
#team h2{
    font-size: 30px;
    margin-bottom: 1rem;
}
/* using flex for team section to align then in column */
#team .wrapper{
    display: flex;
    flex-direction: column;
}
.john-doe img{
    background-color: white;
}
#team h3{
    font-size: 30px;
    font-weight: bolder;
}
#team h4{
    margin-top: 5px;
    font-size: large;
    font-weight: 800;
}
#team hr{
    border: 1px solid #c78c06;
}
#team p{
    font-size: 10px;
}
.bob-rite img{
    /* padding-top: 1%; */
}
.john-doe{
    background-color: #ffe6ac;
}
.bob-rite{
    margin-top: 1%;
    background-color: #ffe6ac;
}

#contact h2{
    font-weight: bold;
    font-size: 30px;
}

#contact h3{
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 2%;
}

#contact{
    padding-top: 10%;
    /* margin-left: 10px; */
}

#full-name{
    width: 95%;
    padding: 5px;
    
}

#email{
    width: 95%;
    padding: 5px;
}

#message{
    width: 95%;
}

#button{
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
    padding-left: 5px;
    color: #c78c06;
    font-size: 18px;
    background-color: #222;
    border: none;
    margin-bottom: 10px;
}

table, th, td{
    border: 1px solid black;
    padding: 3%;
}
table {
    border-collapse: collapse;
    width: 101%;
    margin-bottom: 10px;
}
.hoo thead {
    background-color: #ffe6ac;
    text-align: center;
}

#location h3 {
    padding: 2%;
    font-weight: bold;
    font-size:25px ;
}

footer{
    margin-top: 10px;
    background-color: #222;
    color: #c78c06;
}

/* using media screen for setting minimum width for desktop */

@media screen and (min-width:760px) {
    header .wrapper{
        background-color: #222;
    }
    nav {
        background-color: #222;
    }
    nav ul{
        display: flex;
        color: #c78c06;
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    nav #one{
        /* margin-right: 10rem; */
        color: #222
       }
    .search{
        color: #c78c06;
        margin-right: 2px;
        transform: translate(550%, -150%);
        display: flex;
    }
    
    body{
        width: 1200px;
    }
    /* img#logo{
        width: 75px;
        display: block;
        position: absolute;
        margin-left: 1rem;
        transform: translate(80%, -40%);
    } */

    .link{
        margin-left: 50px;
    }

    button .search{
        border: 1px solid #c78c06;
        background-color: #222;
        color: #c78c06;
    } 

    .welcome .wrapper{
        padding: 3%;
        margin-left: 6%;
        margin-right: 6%;
    }
    .welcome h1{
        font-size: 90px;
        font-weight: bolder;
        text-align: left;
        /* margin-left: 10rem; */
    }
    .welcome p{
        font-size: 16px;
        text-align: left;
        /* margin-left: 10rem; */
    }
    .welcome img{
        width: 1200px;
        height: 600px;
    }
    .buttonone{
        /* text-align: left;
        margin-left: -31rem; */
    }

    #aboutimg{
        
        margin-left: 5rem;
        float:left ;
    }
    #about-us {
        display: flex;
    }
    .about-us h2{
        font-size: 30px;
        font-weight: bolder;
    }
    .about-us p{
        font-size: 16px;
        padding-right:10px ;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    #services .wrapper{
        max-width: 1200px;
     }


     #services h1{
         margin-left: 5rem;
         font-weight: bolder;
     }
     #services-grid {
         display: grid;
         grid-template-columns: repeat(6, 1fr);
         max-width: 1200px;
         width: 15%;
         margin: auto;
         }
         
         #services .digital-transformation{
         grid-column: 1/4;
         }
         
         #services .marketing{
         grid-column: 4/8;
         }
 
         .marketing img{
             margin-top: auto;
 
             height: 66%;
         }
 
         
         
         #services .video-production{
         grid-column: 1/3;
         }
         
         #services .web-development{
         grid-column: 3/5;
         }
 
         .web-development img{
             height: 46%;
             
         }
         
         .print img{
            height: 46%;
            
         }

    #visionimg{
        margin-left: 60px;
        
        width: 1200px;
        }
    
    .vision h3{
        margin-left: 60px;
    }
    .vision p{
        margin-left: 60px;
    }
    
    .vbutton{
        margin-left: 60px;
    }


    #team h2{
        font-weight: bolder;
    }
    #team h3{
        margin-left: 5px;
        /* font-weight: bolder; */
    }
    #team p{
        font-size: 16px;
    }
    #team {
        display: flex;
        flex-wrap: wrap;
      }
    #team .john-doe {
        flex-basis: calc(75% - 135px);
    }
    .john-doe {
        display: flex;
        
    }
    .john-doe img{
        width: 600px;
    }
    .john-doe p{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
    .bob-rite {
        display: flex;
        flex-direction: row-reverse;
    }
    .bob-rite p{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
    .bob-rite hr{
        display: flex;
        flex-direction: column;
    }
    .bob-rite img {
        width: 600px;
    }
    
    #full-name{
        width: 45%;
        padding: 5px;
        
    }
    
    #email{
        width: 45%;
        padding: 5px;
    }
    
    #message{
        width: 45%;
    }

    /* bringing the location panel beside the contact us panel */
    iframe{
        padding: 0;
        transform: translate(200%,-250%);
    }

    #location h3{
        transform: translate(65%,-1020%);
    }
    table{
        padding: 0;
        margin-top: 1rem;
        height: 101%;
    }

    footer{
        margin: 0;
        text-align: center;
        padding: 2%;
        line-height: 2;
        /* margin-bottom: 10rem; */
        /* transform: translate(0%,-1450%); */
    }

   /* body{
    overflow-x: hidden; */
    /* overflow-y: hidden; */
   
}